.grid{
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.grid-item{
    width: 20px;
    height: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-sizing: border-box;
}